<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">

          <title>login</title>
</head>
<body>
          <div style="text-align: center;">
                    <h2>bem vindo ao tarefasso</h2>
                    <h1>digite nome e senha</h1>
                    <form action="/log" method="POST">
                              <label>seu nome</label>
                              <input type="text" name="nome" required><br>
                              <label >sua senha</label>
                              <input type="password" name="senha" required>
                              <button type="submit" name="entrar">entrar</button>
                    </form>



          </div>
          
</body>
</html>