<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tarefa.css') }}">
          <title>tarefasso</title>
</head>
<body><div style="text-align: center;">
          <h1>ola amigo</h1>
          <form action="/t" method="GET">
                    <input type="submit" name="tarefa" value="adicionar tarefa">
          </form>
                    <div style="text-align: center;">
                              {%  for item in tarefas %}
                                       <div class="tarefa-card" style="text-align: center;">
                                           <p><strong>Tarefa:</strong> {{ item.tarefa }}</p>
                                           <p><strong>Descrição:</strong> {{ item.descricao }}</p>
                                        </div>
                              {% endfor %}
                    </div>
</div>
          
</body>
</html>